*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
}

header{
    background-color:aliceblue;
}


.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 100px;
    box-shadow: 2px 2px 3px #585854;

}


.logo img{

    width: 150px;
    height: 100px;
    border-radius: 5px;
   
   
}

.nav{

    display: flex;
    gap: 150px;
}

.nav a{

    font-size: 25px;
    font-weight: 600;
    color: #585854; 
}


.nav a:hover{
    background-color: rgb(111, 155, 155);
    text-decoration: underline;
    transition: 0.3s;
}

